
<html>
<head>
  <title> Formulario Login </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, user-scalable=no,
  initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" type="text/css" href="estilos.css"/>

  </head>
<body>

  <form action="">
<h2> formulario login </h2>
<input type="text" placeholder="&#128272; Usuario" name="usuario" >
<input type="password" placeholder="&#128272; Contraseña" name="contraseña"  >
<input type="submit" value="Ingresar">
  </form>

</body>
</html>
